<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<title>{{ page_title }}</title>
</head>
<body>
<div class=container>
	<div class=row>
		<div class=col>
			<h1>{{ page_title }}</h1>
		</div>
	</div>

	<div class=row>
		<div class=col>
	  		{{#has_failed}}
	    	<div class="alert alert-danger" role="alert">Errors occured! {{fail_count}} check(s) have failed.</div>
			<table class="table">
	    		<thead>
	    			<tr>
	    				<th>Name</th>
	    				<th>HTTP Status/Expected</th>
	    				<th>Error</th>
	    			</tr>
	    		</thead>
	    		<tbody>
	    			{{#sites_error}}
	    			<tr class='table-danger'>
	    				<td>{{url}}</td>
	    				<td>{{actual_status}} / {{expected_status}}</td>
	    				<td>{{error}}</td>
	    			</tr>
                    {{/sites_error}}
					<tr>
						<td colspan=3 class='small'>All failed checks were attempted again after ${flapRetry} seconds and failed again.</td>
					</tr>
			    </tbody>
			</table>
            {{/has_failed}}

            {{^has_failed}}
		    <div class="alert alert-success" role="alert">All is well, all services are up.</div>
            {{/has_failed}}
		</div>
	</div>

	<div class=row>
		<div class=col>
			{{#sites_success}}
	        <a href="#" class="btn btn-success disabled" tabindex="-1" role="button" aria-disabled="true" style="margin-top: 10px; padding: 10px;">
	        	{{name}}
	        	<span style="color: LightGray;"> ({{duration}} ms)</span>
	        </a> &nbsp;
            {{/sites_success}}
		</div>
	</div>

	<br>

	<div class=row>
		<div class=col>
			<p class=small>
				Last check: {{check_date}}
				<br>Total duration: {{total_durations}} ms
				<br>Monitoring script by <a href='https://dungnt.net'>Dung Nguyen (nhymxu)</a>.
				<a href='https://github.com/nhymxu/http-monitoring'>Source code</a>
			</p>
		</div>
	</div>

</div>
</body>
</html>
